<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quarz2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1330FD6F1D6FF58900651B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1330FD881D6FF58A00651B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1330FD931D6FF58A00651B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
